<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="title" [(ngModel)]="game.title" placeholder="Title" class="form-control"
                        autofocus>
                </div><br>
                <div class="form-group">
                    <textarea name="description" [(ngModel)]="game.description" placeholder="Description" rows="2"
                        class="form-control"></textarea>
                </div><br>
                <div class="form-group">
                    <input type="url" name="image" [(ngModel)]="game.image" placeholder="Image" class="form-control">
                </div><br>
                <button class="btn btn-success w-100" (click)="edit ? updateGame() : saveNewGame()">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card card-body text-center">
        <img [src]="game.image == '' ? '/assets/noimage.png' : game.image" class="card-img-top embed-responsive-item">
        <h3>{{ game.id }}. {{ game.title == '' ? 'Game Title' : game.title }}</h3>
        <p>{{ game.description == '' ? 'Write Description' : game.description }}</p>
        <p>{{ game.created_at | date: 'yyy-MM-dd' }}</p>
    </div>
</div>